@import "../../common/colors.scss";

.footer{
  background-color: $secondary-color;
  height: 72px;
  color: $font-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    padding-bottom: 10px;
  }
}